{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">Посты</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">

                        {% if posts is empty %}
                            <h2>Постов нет</h2>
                        {% else %}
                            <table class="table">
                                <tr>
                                    <th>Название</th>
                                    <th>Редактировать</th>
                                    <th>Удалить</th>
                                </tr>
                                {% for post in posts %}
                                    <tr>
                                        <td>{{ post.title }}</td>
                                        <td><a href="{{ path('updatePost', {'id': post.id}) }}" class="btn btn-primary">Редактировать</a></td>
                                        <td><a href="{{ path('delPost', {'id': post.id}) }}" class="btn btn-danger">Удалить</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                            
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}